<h2>Contatos</h2>

<!-- Formulário de Adição -->
<div *ngIf="mostrar">
  <input [(ngModel)]="contatoEditando.nome" placeholder="Nome">
  <input [(ngModel)]="contatoEditando.telefone" placeholder="Telefone">
  <input [(ngModel)]="contatoEditando.email" placeholder="Email">
  <button (click)="adicionarContato(contatoEditando)">Salvar</button>
  <button (click)="mostrar = false">Cancelar</button>
</div>

<!-- Botão de Adicionar -->
<button *ngIf="!mostrar" (click)="mostrar = true">Adicionar Contato</button>

<!-- Lista de Contatos -->
<ul>
  <li *ngFor="let contato of contatos">
    <div *ngIf="contatoAtualId !== contato.id; else editForm">
      {{ contato.nome }} - {{ contato.telefone }} ({{ contato.email }})
      <button (click)="editarContato(contato.id!)">Editar</button>
      <button (click)="deletarContato(contato.id!)">Excluir</button>
    </div>

    <ng-template #editForm>
      <div *ngIf="mostrarEdicaoForm">
        <input [(ngModel)]="contatoEditando.nome" placeholder="Nome">
        <input [(ngModel)]="contatoEditando.telefone" placeholder="Telefone">
        <input [(ngModel)]="contatoEditando.email" placeholder="Email">
        <button (click)="confirmarEdicao()">Salvar</button>
        <button (click)="cancelarEdicao()">Cancelar</button>
      </div>
    </ng-template>
  </li>
</ul>